#critere-args fieldset legend {
	color: #000;
	background-color: #fff;
	padding-left: 23px;
}
#critere-args fieldset legend.closed {
	background: url("../img/open.png") no-repeat scroll 0 5px transparent;
}
#critere-args fieldset legend.open {
	background: url("../img/close.png") no-repeat scroll 0 5px transparent;
}
#critere-args fieldset legend:hover {
	cursor: pointer;
}

.location {
	border-bottom: 1px dotted #aaa;
	cursor: pointer;
}

.asterisque {
	color: red;
	font-weight: bold;
	font-size: 18px;
}